.root {
  box-sizing: border-box;
  font-family: Inter, Arial, Helvetica, sans-serif;
  padding: 0 40px 50px;
}

@media screen and (max-width: 768px) {
  .root {
    padding: 0 28px 30px;
  }
}

@media screen and (max-width: 410) {
  .root {
    padding: 0 16px 20px;
  }
}